html {
  font-size: 62.5%; /* 62.5% of 16px is 10px */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
   background: rgba(235, 253, 254, 1);
}

* {
  font-family: 'var(--font-poppins) !important';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
